 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    I am a software engineer with a degree in film production.  I make games for fun on the side.  I also make the <a href="http://elmnarrativeengine.com/">Elm Narrative Engine</a>.
                </div>
            </div>
        </div>
    </section>
